@import 'purecss/build/base.css';

html,
body {
  height: 100%;
}

.Container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__heading {
    font-size: 2rem;
  }
}
